<aside class="menu-sidebar d-none d-lg-block">
  <div class="logo">
    <a [routerLink]="['']">
      <img src="assets/images/logo.png" alt="luv2shop" class="img-fluid">
    </a>
  </div>
  <div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
      <ul class="list-unstyled navbar-list">
        <li *ngFor="let category of categories$ | async">
          <a [routerLink]="['products']"
             [queryParams]="{ categoryId: category.id }"
             routerLinkActive="active-link"
          >
            {{ category.categoryName }}
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
