<ng-container *ngIf="product$ | async as product">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">

        <div>
          <img [src]="product.imageUrl" class="img-fluid" [alt]="product.name">

          <h3>{{ product.name }}</h3>
          <div class="price">
            {{ product.unitPrice | currency }}
          </div>
          <a href="#" class="primary-btn my-2">Add to cart</a>

          <h4 class="mt-4">Product Description</h4>
          <p>
            {{ product.description }}
          </p>

          <span (click)="goBack()">Back to Product List</span>
        </div>
      </div>
    </div>
  </div>
</ng-container>
