<div class="section-content section-content-p30">
  <div class="container-fluid">
    <div class="row">
      <ng-container *ngFor="let product of products$ | async">
        <div class="col-md-3">
          <ec-product-list-item [product]="product"></ec-product-list-item>
        </div>
      </ng-container>

    </div>

    <div *ngIf="noProducts"
         class="alert border border-warning border-1 bg-light col-md-12 shadow-sm"
    >
      No products found.
    </div>
    <ec-pagination [page]="page$" (pageChanged)="onPageChange($event)"></ec-pagination>
  </div>
</div>
